.bestSellersWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.bestSellers h2 {
    margin-bottom: 20px;
}

@media screen and (max-width: 540px) {
    .bestSellersWrapper {
        justify-content: center;
    }

    .bestSellers h2 {
        margin-left: 10px;
    }
}