@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  vertical-align: top;
}

h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  vertical-align: top;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
}

.wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

section{
  margin: 40px 20px 0 20px;
}

body .slick-prev:before, body .slick-next:before{
  color: #000;
}


@media screen and (max-width: 540px) {
  section {
    margin: 20px 10px 0 10px;
  }
}